* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 140px;
    width: 100%;
    color: #29b1dd;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 55px;
    padding: 0 10px;
}

nav {
    background-color: #29b1dd;
    color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

body {

    background-color: #dddddd;
}

section {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.card {
    width: 230px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: white;
}

.iconSize {
    font-size: 40px;
    margin-bottom: 5px;
}